<div class="card">
<div class="card-header"><h3>Experiments</h3></div>
<div class="card-body">
    <div class="row">
        <div class="col-12 align-self-start">
            <a href="/Experiments/ExperimentBootStrapSwitch"><h4>Bootstrap 4 Switch button interface (CA1, CA2)</h4></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 align-self-start">
            <a href="/Experiments/ExperimentCheckBoxBehavior"><h4>Experiment checkbox input control behavior (CA1, CA2)</h4></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 align-self-start">
            <a href="/Experiments/ExperimentStoragePage1"><h4>Experiment data sharing (with local storage) using Store.js (CA1)</h4></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 align-self-start">
            <a href="/Experiments/ExperimentClientSidePaging"><h4>Experiment client side paging using DataTables.NET (For learning purpose)</h4></a>
            <div class="w-100 alert-danger">You are required to deliver record paging using server-side paging technique</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 align-self-start">
            <a href="/Experiments/ExperimentJQueryCommentsLibrary"><h4>Experiment jQuery Comments library (CA1)</h4></a>
            <div class="w-100 alert-danger">
                The "customer comment management" function (CA1) tests you on:<br />
                <ul>
                    <li>Read up library online documentation at <a href="http://viima.github.io/jquery-comments/" target="_blank">jQuery-Comment official site</a></li>
                    <li>Analyze the experimented code (with mock-up data) in the view template file.</li>
                    <li>Prepare the minimum (2) Web API methods to support the interface for view and save new comment.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 align-self-start">
            <a href="/Experiments/ExperimentJavaScript"><h4>Experiment Javascript</h4></a>
        </div>
    </div>
</div>
</div>
