<div class="card">
	<div class="card-header stylish-color-dark white-text">
		<h4 id="inspectAndApproveTimeSheetTitleBox" name="inspectAndApproveTimeSheetTitleBox" class="one" style="padding-top:1.8%;">Inspect / Approve instructor timesheet</h4>
	</div>

	<div class="card-body" style="padding:3% 6%">
		<div class="row">
			<table>
				<tr><td colspan="2">Administrator uses this view interface to view all instructor timesheet status (their actual start time and end time service at the customer site, signature status, completion status etc.)
				<tr>
					<td>Use case 1</td>
					<td>
						Administrator uses it at the beginning of the month (to check whether all the instructors have created their timesheet, resolve issues etc.)
					</td>
				</tr>
				<tr>
					<td>Use case 2</td>
					<td>
						Administrator uses it at end of the month (to approve instructor timesheet so that instructor is notified that the admin has accepted his timesheet and sending to finance to process the payment)
					</td>
				</tr>
				<tr>
					<td>Use case 3</td>
					<td>
						The view interface has a download as Excel file feature to allow the administrator to compile all the instructor timesheet and transfer the Excel file to the finance office for processing.
					</td>
				</tr>
			</table>
		</div>
		<iframe style="width:655px;height:300px" src="https://www.youtube.com/embed/loR5HhhVcF0?start=325" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<img class="sample-image-display" src="~/images/Sample_Administrator_InspectApproveTimeSheet1.png" />
		<img class="sample-image-display" src="~/images/Sample_Administrator_InspectApproveTimeSheet2.png" />
		<img class="sample-image-display" src="~/images/Sample_Administrator_InspectApproveTimeSheet3.png" />
		<img class="sample-image-display" src="~/images/Sample_Administrator_InspectApproveTimeSheet4.png" />
	</div><!-- end of div element which has the class="card-body" -->
</div><!-- end of the div element which has the class="card" -->
@section scripts{
	<style>
		.sample-image-display {
			width: 70%;
			height: auto;
			margin-top: 20px;
			margin-bottom: 10px;
		}
	</style>
}