<div class="card">
    <div class="card-header stylish-color-dark white-text">
        <h4 id="manageInstructorTimeSheetTitleBox" class="one" style="padding-top:1.8%;">Manage instructor timesheet</h4>
    </div>

    <div class="card-body" style="padding:3% 6%">
        <div class="row">
            <table>
                <tr><td colspan="2">Administrator uses this view interface to view and manually make changes to instructor timesheet
                <tr>
                    <td>
                        Use case 1</td><td> The instructor has technical difficulties to generate his timesheet. The administrator can generate the timesheet for the instructor.
                    </td>
                </tr>
                <tr>
                    <td>
                        Use case 2
                    </td>
                    <td>
                        An instructor may be sick for one week and a replacement instructor needs to be arranged. The administrator help the replacement instructor to <b>copy</b> timesheet schedule records from one instructor to another.
                    </td>
                </tr>
                <tr>
                    <td>
                        Use case 3
                    </td>
                    <td>
                        The administrator can set a <b>tracking status</b> on one instructor timesheet so that the system can notify the administator on any changes done on the timesheet.
                    </td>
                </tr>
            </table>
        </div>      <img src="~/images/under_construction.png" />
    </div><!-- end of div element which has the class="card-body" -->
</div><!-- end of the div element which has the class="card" -->