<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timesheet</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="~/lib/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <link href="~/lib/jqwidgets/styles/jqx.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/noty/noty.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/sticky_footer.css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js" async></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>

    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/noty/noty.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/jqwidgets/jqxcore.js"></script>
    <script src="~/lib/jqwidgets/jqx-all.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="~/js/site.js"></script>
</head>
<body>
 <!-- Wrap all page content here -->
 <div id="wrap">
  <!-- Using Bootstrap 4 -->
  <!-- Fixed navbar -->
  <div class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
   <span class="navbar-brand mb-0 h1">Timesheet</span>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">

          
       </ul>

    @await Html.PartialAsync("_LoginPartial")




   </div>
  </div>
 </div>


 <div class="container-fluid body-content">

  @RenderBody()

 </div>


 <footer class="footer">
  <div class="container">
   <p class="text-muted">Study how the layout files, _ViewStart work together to manage user role layouts </p>
  </div>
 </footer>
 @RenderSection("scripts", required: false)
</body>
</html>
