
<div class="jumbotron">
    <h1>Timesheet Management System</h1>
    <p>
        This web project is prepared for WEBA assignment purpose. <b>The assignment is based on a true final year project which happened in 2017</b>.
				<h4>Student assignment project</h4>
    </p>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Login credentials for testing</h5>
        <h6 class="card-subtitle mb-2 text-muted">User credentials for testing purposes. All password is <span class="text-danger">p@ssword</span>.</h6>
        <p class="card-text">&nbsp;</p>
        <table>
            <thead>
                <tr><th>User name</th><th>Role</th></tr>
            </thead>
            <tbody>
                <tr><td>JULIET@EMU.COM</td><td>ADMIN</td></tr>
                <tr><td>KENNY@EMU.COM</td><td>ADMIN</td></tr>
                <tr><td>LEEXIAOLONG@EMU.COM</td><td>INSTRUCTOR</td></tr>
                <tr><td>KENNETH@EMU.COM</td><td>INSTRUCTOR</td></tr>
                <tr><td>NANCY@EMU.COM</td><td>INSTRUCTOR</td></tr>
                <tr><td>LARRY@EMU.COM</td><td>INSTRUCTOR</td></tr>
            </tbody>
        </table>
    </div>
</div>
