
<h1>Manage Customer Account</h1>
<h4>
	Develop the following first before working on "Manage customer account functionality".
</h4>
<ul>
	<li>The practical which is titled as "Familiarize with Assigment Project"</li>
	<li>Lesson types management</li>
</ul>
