<!--<h1>Manage Customer Account</h1>
<h4>
    Develop the following first before working on "Manage customer account functionality".
</h4>
<ul>
    <li>The practical which is titled as "Familiarize with Assigment Project"</li>
    <li>Lesson types management</li>
</ul>-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item font-small active">Manage Customer Accounts</li>
    </ol>

</nav>

<div class="card">
    <div class="card-header stylish-color-dark white-text">
        <div class="container-fluid d-flex">
            <h4 class="one" style="padding-top:1.8%;width:80%">Customer Accounts</h4>
            <a asp-controller="CustomerAccounts" asp-action="Create" class="btn btn-primary" style="margin-left:auto"><i class="fas fa-plus" style="color:#FFF;"></i> Add</a>
        </div>
    </div>
    <div class="card-body col-12" style="padding:1% 3%">
        <div class="row justify-content-center" id="paginationOptions" style="padding: 0.5em 0;">
            <div class="col d-inline">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="pageSizeSelection">Show</label>
                    </div>
                    <select class="custom-select" name="pageSizeSelection" id="pageSizeSelection" style="width:30%;">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="pageSizeSelection">entries</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="sortOrderSelection">Order</label>
                    </div>
                    <select class="custom-select" name="sortOrderSelection" id="sortOrderSelection" style="width:60%;">
                        <option value="ASC" selected>Ascending</option>
                        <option value="DESC">Descending</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="sortColumnSelection">Sort by</label>
                    </div>
                    <select class="custom-select" name="sortColumnSelection" id="sortColumnSelection" style="width:60%;">
                        <option value="ACCOUNTNAME" selected>Account Name</option>
                        <option value="ISVISIBLE">Visibility</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="searchFilter"> Search</label>
                    </div>
                    <input type="text" name="searchFilter" id="searchFilterInput" class="form-control" />
                </div>

            </div>

        </div>
        <div class="row justify-content-center">
            <nav>
                <ul class="pagination" id="topNav"></ul>
            </nav>
        </div>
        <div class="row">
            <div class="table-responsive-md w-100">
                <div id="topNavigationInterfaceContainer" class="btn-toolbar float-right" role="toolbar"></div>
                <table class="table table-bordered">
                    <thead>
                        <tr class="row m-0" style="vertical-align:central;">
                            <th class="col-md-3">Account Name</th>
                            <th class="col-md-1">Comments (Past 3 Days)</th>
                            <th class="col-md-1">Visibility</th>
                            <th class="col-md-1">Created By</th>
                            <th class="col-md-1">Updated By</th>
                            <th class="col-md-1">Updated At</th>
                            <th class="col-md-1">Edit</th>
                            <th class="col-md-1">Delete</th>
                            <th class="col-md-2">Go to</th>
                        </tr>
                    </thead>
                    <tbody id="tableBodyElement"></tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center">
            <p id="navInfo"></p>
        </div>
        <div class="row justify-content-center">
            <nav>
                <ul class="pagination" id="btmNav"></ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Customer Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="editAccountForm" novalidate>
                    <p style="padding-top:2%"><strong>General information</strong></p>
                    <div class="form-group">
                        <label for="accountName">Customer Account Name</label><br>
                        <input type="text" class="form-control" name="accountName" id="accountName" placeholder="Enter name" />
                    </div>
                    <div class="form-group">
                        <label for="accountVisibilityToggle">Visibility</label><br>
                        <input type="checkbox" name="accountVisibilityToggle" id="accountVisibilityToggle" class="form-control" data-toggle="toggle" data-on="Visible" data-off="Hidden" data-onstyle="success" data-offstyle="danger" data-width="140" data-height="45" />
                    </div>
                    <p style="padding-top:2%" id="editCreateTS">Creation timestamp: </p>
                    <p style="padding-top:2%" id="editModifiedTS">Last modified timestamp: </p>

                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <input type="button" name="editSubmitBtn" id="editSubmitBtn" value="Update" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div>
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
            </div>
            <div class="modal-body">
                <div style="text-align:center;">
                    <i class="far fa-trash-alt" style="font-size: 2em; color: red;"></i>
                    <p class="card-title" id="delAccountNameTxt">Delete Company Name?</p>
                    <p>The following will be deleted:</p>
                </div>
                <div class="row" id="accSummary">
                    <div class="col">
                        <div class="card h-100 text-white bg-warning mb-3">
                            <i class="fas fa-dollar-sign"></i>
                            <p class="card-title text-uppercase">Account Rate Record</p>
                            <p class="card-text" id="accountRateDetail">0</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 text-white bg-warning mb-3">
                            <i class="fas fa-comment-alt"></i>
                            <p class="card-title text-uppercase">Comments</p>
                            <p class="card-text" id="accountCommentsDetail">0</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 text-white bg-warning mb-3">
                            <i class="fas fa-link"></i>
                            <p class="card-title text-uppercase">Instructor Relationship Record</p>
                            <p class="card-text" id="accountInstructorRelDetail">0</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" style="justify-content:center">
                <div class="form-group" style="display:flex;">
                    <input type="button" name="deleteSubmitBtn" id="deleteSubmitBtn" value="Yes" class="btn btn-danger">
                    <input type="button" value="No" class="btn btn-white" data-dismiss="modal">
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <style>
        table.table td {
            padding-left: 0.2rem;
            padding-right: 0.2rem;
        }

            table.table th, table.table td.col-md-1, table.table td.col-md-2 {
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                text-align: center;
            }

        .error {
            color: red;
        }

        .pagination .page-item.disabled .page-link {
            color: white;
        }

        div#deleteCustomerModal div#accSummary .card-title {
            text-align: center;
            min-height: 5em;
            font-size: 12px;
        }

        div#deleteCustomerModal div#accSummary .card-text {
            text-align: center;
            font-size: 2em;
        }
        div#deleteCustomerModal div#accSummary .card i {
            text-align: center;
            font-size: 1.5em;
            padding: 0.5em;
        }

        div#deleteCustomerModal .card {
            padding: 1em;
        }
    </style>

    <script>
        //Code wihtou pagination
        //$.ajax({
        //    url: '/API/CustomerAccounts/',
        //    method: 'GET'
        //}).done(function (data) {
        //    $tableBodyElement = $('#tableBodyElement');
        //    for (let i = 0; i < data.length; i++) {
        //        oneAccount = data[i];
        //        let $cusTR = $("<tr></tr");
        //        $cusTR.addClass("row m-0");

        //        $cusTR.append($("<td></td>", { text: oneAccount.accountName }).addClass("col-md-3"));
        //        $cusTR.append($("<td></td>", { text: oneAccount.comments }).addClass("col-md-1"));
        //        //$cusTR.append($("<td></td>", { text: oneAccount.visibility }).addClass("col-md-1"));
        //        if (oneAccount.visibility == true) {
        //            $cusTR.append($("<td></td>").addClass("col-md-1").append('<i class="fas fa-check" style="color:#61d800;"></i>'));
        //        }
        //        else {
        //            $cusTR.append($("<td></td>").addClass("col-md-1").append('<i class="fas fa-times" style="color:#ff2410;"></i>'));
        //        }
        //        $cusTR.append($("<td></td>", { text: oneAccount.createdBy }).addClass("col-md-1"));
        //        $cusTR.append($("<td></td>", { text: oneAccount.updatedBy }).addClass("col-md-1"));
        //        $cusTR.append($("<td></td>", { text: moment(oneAccount.updatedAt).format('DD/MM/YYYY') }).addClass("col-md-1"));
        //        $cusTR.append($("<td></td>").addClass("col-md-1").append(`<a href=${"CustomerAccounts/Edit/" + oneAccount.id} class="btn-sm btn-outline-primary"><i class="far fa-edit"></i> Edit</a>`));
        //        $cusTR.append($("<td></td>").addClass("col-md-1").append(`<a class="btn-sm btn-outline-danger"><i class="fas fa-trash"></i> Delete</a>`));
        //        $cusTR.append($("<td></td>").addClass("col-md-2").append(`
        //                            <div class="dropdown show">
        //                                <a class="btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        //                                    <i class="fas fa-user-cog"></i> Manage
        //                                </a>
        //                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        //                                    <a class="dropdown-item" href=${"CustomerAccounts/ManageRates/" + oneAccount.id}>Manage rates</a>
        //                                    <a class="dropdown-item" href=${"CustomerAccounts/Comments/" + oneAccount.id}>Comments</a>
        //                                    <a class="dropdown-item" href="#">Assign instructors</a>
        //                                </div>
        //                            </div>
        //                         `));

        //        $tableBodyElement.append($cusTR);

        //    }
        //    }).fail(function (data) {
        //        new Noty({ text: "Fail to load customer data. " + data.responseJSON.message, type: 'error' }).show();
        //});

        var customerID;

        var pageSize = 5;
        var sortColumn = 'ACCOUNTNAME';
        var sortOrder = 'ASC';
        var currentPage;
        var searchFilter = '';

        (function () {
            loadData(1, pageSize, sortOrder, sortColumn, searchFilter);

            $('#pageSizeSelection').on('change', function () {
                pageSize = this.value;
                loadData(1, pageSize, sortOrder, sortColumn, searchFilter)
            })
            $('#sortColumnSelection').on('change', function () {
                sortColumn = this.value;
                loadData(currentPage, pageSize, sortOrder, sortColumn, searchFilter)
            })
            $('#sortOrderSelection').on('change', function () {
                sortOrder = this.value;
                loadData(currentPage, pageSize, sortOrder, sortColumn, searchFilter)
            })
            $('#searchFilterInput').on('change', function () {
                searchFilter = this.value;
                loadData(1, pageSize, sortOrder, sortColumn, searchFilter)
            })

        })();

        function loadData(pageNo, perPageSize, prefSortOrder, prefSortColumn, prefSearchFilter) {
            $.ajax({
                url: `/API/CustomerAccounts/GetCustomersPaginated?page_number=${pageNo}&per_page=${perPageSize}&sort_column=${prefSortColumn}&sort_order=${prefSortOrder}&search_filter=${prefSearchFilter}`,
                method: 'GET'
            }).done(function (data) {
                console.dir(data);
                let totalRecCount = data.totalRecordCount;
                let totalCurrentPageRecord = data.totalCurrentPgRec;
                currentPage = data.currentPage;
                let totalPages = data.totalPage;
                let fromRec = data.from;
                let toRec = data.to;

                renderData(data.records);
                createPageNav($('#topNav'), currentPage, totalPages);
                createPageNav($('#btmNav'), currentPage, totalPages);
                let $navInfo = $('#navInfo');
                $navInfo.empty();
                $navInfo.text(`Showing ${fromRec} to ${toRec} of ${totalRecCount} entries`);
            }).fail(function (data) {
                new Noty({ text: "Fail to load customer data. " + data.responseJSON.message, type: 'error', timeout: 3000 }).show();
            });
        }

        function renderData(data) {
            $tableBodyElement = $('#tableBodyElement');
            $tableBodyElement.empty();
            for (let i = 0; i < data.length; i++) {
                oneAccount = data[i];
                let $cusTR = $("<tr></tr");
                $cusTR.addClass("row m-0");

                $cusTR.append($("<td></td>", { text: oneAccount.accountName }).addClass("col-md-3"));
                $cusTR.append($("<td></td>", { text: oneAccount.comments }).addClass("col-md-1"));
                //$cusTR.append($("<td></td>", { text: oneAccount.visibility }).addClass("col-md-1"));
                if (oneAccount.visibility == true) {
                    $cusTR.append($("<td></td>").addClass("col-md-1").append('<i class="fas fa-check" style="color:#61d800;"></i>'));
                }
                else {
                    $cusTR.append($("<td></td>").addClass("col-md-1").append('<i class="fas fa-times" style="color:#ff2410;"></i>'));
                }
                $cusTR.append($("<td></td>", { text: oneAccount.createdBy }).addClass("col-md-1"));
                $cusTR.append($("<td></td>", { text: oneAccount.updatedBy }).addClass("col-md-1"));
                $cusTR.append($("<td></td>", { text: moment(oneAccount.updatedAt).format('DD/MM/YYYY') }).addClass("col-md-1"));

                let $btnEdit = $('<button type="button"><i class="far fa-edit"></i> Edit</button>').addClass('btn-sm btn-outline-primary').attr('data-toggle', 'modal').attr('data-target', `#editCustomerModal`).attr('data-customerid', oneAccount.id);
                $cusTR.append($("<td></td>").addClass("col-md-1").append($btnEdit));

                let $btnDelete = $('<button type="button"><i class="fas fa-trash"></i> Delete</button>').addClass('btn-sm btn-outline-danger').attr('data-toggle', 'modal').attr('data-target', `#deleteCustomerModal`).attr('data-customerId', oneAccount.id);
                $cusTR.append($("<td></td>").addClass("col-md-1").append($btnDelete));

                $cusTR.append($("<td></td>").addClass("col-md-2").append(`
                                                                    <div class="dropdown show">
                                                                        <button type="button" class="btn-sm btn-outline-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fas fa-user-cog"></i> Manage
                                                                        </button>
                                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                            <a class="dropdown-item" href=${"CustomerAccounts/ManageRates/" + oneAccount.id}>Manage rates</a>
                                                                            <a class="dropdown-item" href=${"CustomerAccounts/Comments/" + oneAccount.id}>Comments</a>
                                                                            <a class="dropdown-item" href="#">Assign instructors</a>
                                                                        </div>
                                                                    </div>
                                                                 `));

                $tableBodyElement.append($cusTR);
            }
        }

        function createPageNav($navElm, currentPage, totalPages) {
            $navElm.empty();
            let $liPrev = $('<li></li>').addClass('page-item');
            if (currentPage == 1) {
                $liPrev.addClass('disabled');
                let $a = $('<a>Previous</a>').addClass('page-link').attr('href', '#').attr('tabindex', '-1');
                $liPrev.append($a);
            }
            else {
                let $a = $('<a>Previous</a>').addClass('page-link').attr('href', '#').attr('data-page-number', currentPage - 1).attr('data-page-size', pageSize).attr('data-sort-order', sortOrder).attr('data-sort-column', sortColumn).attr("data-search-filter", searchFilter);
                $a.on('click', function (event) {
                    let perPageSize = $(event.target).data('page-size');
                    let pageNumber = $(event.target).data('page-number');
                    let prefSortOrder = $(event.target).data('sort-order');
                    let prefSortColumn = $(event.target).data('sort-column');
                    let prefSearchFilter = $(event.target).data('search-filter');
                    loadData(pageNumber, perPageSize, prefSortOrder, prefSortColumn, prefSearchFilter);
                })
                $liPrev.append($a);
            }
            $navElm.append($liPrev);

            for (let i = 1; i <= totalPages; i++) {
                let $li = $('<li></li>').addClass('page-item');
                if (i == currentPage) {
                    $li.addClass('active disabled');
                    let $a = $(`<a>${i}</a>`).addClass('page-link').attr('href', '#').attr('tabindex', '-1');
                    $li.append($a);
                }
                else {
                    let $a = $(`<a>${i}</a>`).addClass('page-link').attr('href', '#').attr('data-page-number', i).attr('data-page-size', pageSize).attr('data-sort-order', sortOrder).attr('data-sort-column', sortColumn).attr("data-search-filter", searchFilter);
                    $a.on('click', function (event) {
                        let perPageSize = $(event.target).data('page-size');
                        let pageNumber = $(event.target).data('page-number');
                        let prefSortOrder = $(event.target).data('sort-order');
                        let prefSortColumn = $(event.target).data('sort-column');
                        let prefSearchFilter = $(event.target).data('search-filter');
                        loadData(pageNumber, perPageSize, prefSortOrder, prefSortColumn, prefSearchFilter);
                    })
                    $li.append($a);
                }
                $navElm.append($li);

            }

            let $liNext = $('<li></li>').addClass('page-item');
            if (currentPage == totalPages) {
                $liNext.addClass('disabled');
                let $a = $('<a>Next</a>').addClass('page-link').attr('href', '#').attr('tabindex', '-1');
                $liNext.append($a);
            }
            else {
                let $a = $('<a>Next</a>').addClass('page-link').attr('href', '#').attr('data-page-number', currentPage + 1).attr('data-page-size', pageSize).attr('data-sort-order', sortOrder).attr('data-sort-column', sortColumn).attr("data-search-filter", searchFilter);
                $a.on('click', function (event) {
                    let perPageSize = $(event.target).data('page-size');
                    let pageNumber = $(event.target).data('page-number');
                    let prefSortOrder = $(event.target).data('sort-order');
                    let prefSortColumn = $(event.target).data('sort-column');
                    let prefSearchFilter = $(event.target).data('search-filter');
                    loadData(pageNumber, perPageSize, prefSortOrder, prefSortColumn, prefSearchFilter);
                })
                $liNext.append($a);
            }
            $navElm.append($liNext);
        }

        $('#editCustomerModal').on('show.bs.modal', function (event) {

            let $button = $(event.relatedTarget); // Button that triggered the modal
            cusID = $button.data('customerid'); // Extract info from data-* attributes
            console.dir(cusID + " of Modal");

            //new Noty({ text: `Edit Button Pressed for ${cusID}`, type: 'info', timeout: 1000 }).show();//For Debug

            var modal = $(this);
            $.ajax({
                url: '/API/CustomerAccounts/' + cusID,
                method: 'GET'
            }).done(function (editData) {
                modal.find('.modal-body input#accountName').val(editData.accountName);
                if (editData.visibility == true) {
                    //modal.find('.modal-body input#accountVisibilityToggle').prop('checked',true);
                    modal.find('.modal-body input#accountVisibilityToggle').bootstrapToggle('on');
                }
                modal.find('.modal-body p#editCreateTS').text(`Creation timestamp: ${moment(editData.createdAt).format('DD/MM/YYYY HH:ss')} by ${editData.createdBy}`);
                modal.find('.modal-body p#editModifiedTS').text(`Last modified timestamp: ${moment(editData.updatedAt).format('DD/MM/YYYY HH:ss')} by ${editData.updatedBy}`);

            }).fail(function (editData) {
                new Noty({ text: editData.responseJSON.message, type: 'error', timeout: 3000 }).show();
                $('#editCustomerModal').modal('hide');
            });
        });

        $('input#editSubmitBtn').on('click', function () {
            if ($("form[name='editAccountForm']").valid() == true) {
                console.dir(cusID + " of PUT Method");
                let cAccountName = $('#accountName').val();
                let cVisibility = $('#accountVisibilityToggle').prop('checked');

                function WebFormData(iAccountName, iVisibility) {
                    this.accountName = iAccountName;
                    this.visibility = iVisibility;
                }

                let webformData = new WebFormData(cAccountName, cVisibility);
                console.dir(webformData);

                $.ajax({
                    url: '/API/CustomerAccounts/Update/' + cusID,
                    method: 'PUT',
                    data: webformData,
                    contentType: 'application/x-www-form-urlencoded',
                    datatype: 'application/json'

                }).done(function (editResult) {
                    new Noty({ text: editResult.message, type: 'success', timeout: 3000 }).show();
                    $('#editCustomerModal').modal('hide');
                    loadData(currentPage, pageSize, sortOrder, sortColumn, searchFilter)
                }).fail(function (editResult) {
                    new Noty({ text: editResult.responseJSON.message, type: 'error', timeout: 3000 }).show();
                });


            }
        });

        (function () {
            $.validator.addMethod("alphanumeric", function (value, element) {
                return this.optional(element) || /^[\w.' ]+$/i.test(value);
            }, "Please enter valid name with alphanumeric characters or _ or . or ' or ' ' only.");

            $("form[name='editAccountForm']").validate({
                success: 'valid',
                //focusCleanup: true,
                rules: {
                    accountName: {
                        required: true,
                        alphanumeric: true,
                        maxlength: 100
                    }
                },
                messages: {
                    accountName: {
                        required: 'Please enter name of customer.',
                        maxlength: 'Please shorten the account name to less than 100 characters.'
                    }
                }
            });
        })();

        $('#editCustomerModal').on('hidden.bs.modal', function () {
            var modal = $(this);
            modal.find('.modal-body input#accountName').val('');
            let $toggle = modal.find('.modal-body input#accountVisibilityToggle');
            if ($toggle.prop('checked') == true) {
                //$toggle.removeAttr('checked');
                $toggle.bootstrapToggle('off');
            }

            modal.find('.modal-body p#editCreateTS').text(`Creation timestamp:`);
            modal.find('.modal-body p#editModifiedTS').text(`Last modified timestamp:`);
        });

        $('#deleteCustomerModal').on('show.bs.modal', function (event) {

            let $button = $(event.relatedTarget); // Button that triggered the modal
            cusID = $button.data('customerid'); // Extract info from data-* attributes
            console.dir(cusID + " of Modal");

            //new Noty({ text: `Edit Button Pressed for ${cusID}`, type: 'info', timeout: 1000 }).show();//For Debug

            var modal = $(this);
            
            $.ajax({
                url: '/API/CustomerAccounts/GetCustomerAccountSummary/' + cusID,
                method: 'GET'
            }).done(function (delData) {
                modal.find('.modal-body p#delAccountNameTxt').text(`Delete ${delData.accountName}?`);
                modal.find('.modal-body .card p#accountRateDetail').text(delData.accountRateCount);
                modal.find('.modal-body .card p#accountCommentsDetail').text(delData.accountCommentCount);
                modal.find('.modal-body .card p#accountInstructorRelDetail').text(delData.accountInstructorCount);
            }).fail(function (delData) {
                new Noty({ text: delData.responseJSON.message, type: 'error', timeout: 3000 }).show();
                $('#deleteCustomerModal').modal('hide');
            });
        })

        $('input#deleteSubmitBtn').on('click', function () {
            console.dir(cusID + " of DELETE Method");
            $.ajax({
                url: '/API/CustomerAccounts/Delete/' + cusID,
                method: 'DELETE'
            }).done(function (delResult) {
                new Noty({ text: delResult.message, type: 'success', timeout: 3000 }).show();
                $('#deleteCustomerModal').modal('hide');
                loadData(1, pageSize, sortOrder, sortColumn, searchFilter)
            }).fail(function (delResult) {
                new Noty({ text: delResult.responseJSON.message, type: 'error', timeout: 3000 }).show();
            });
        })

        $('#deleteCustomerModal').on('hidden.bs.modal', function () {
            var modal = $(this);
            modal.find('.modal-body p#delAccountNameTxt').text(`Delete?`);
            modal.find('.modal-body .card p#accountRateDetail').html('<i class="fas fa-circle-notch"></i>');
            modal.find('.modal-body .card p#accountCommentsDetail').html('<i class="fas fa-circle-notch"></i>');
            modal.find('.modal-body .card p#accountInstructorRelDetail').html('<i class="fas fa-circle-notch"></i>');
        });

    </script>
}

